<div class="board {{if xTurn "x" "circle"}}" {{on "click" this.increment}} {{on "click" this.winner}}>
    <div class="cell {{grid.[1]}}" {{on "click" (fn this.played 1)}}>{{this.xWins}}</div>
    <div class="cell {{grid.[2]}}" {{on "click" (fn this.played 2)}}></div>
    <div class="cell {{grid.[3]}}" {{on "click" (fn this.played 3)}}></div>
    <div class="cell {{grid.[4]}}" {{on "click" (fn this.played 4)}}></div>
    <div class="cell {{grid.[5]}}" {{on "click" (fn this.played 5)}}></div>
    <div class="cell {{grid.[6]}}" {{on "click" (fn this.played 6)}}></div>
    <div class="cell {{grid.[7]}}" {{on "click" (fn this.played 7)}}></div>
    <div class="cell {{grid.[8]}}" {{on "click" (fn this.played 8)}}></div>
    <div class="cell {{grid.[9]}}" {{on "click" (fn this.played 9)}}></div>
</div>
<div class="winning-message {{if xWins 'show'}} {{if oWins 'show'}}">
    <div >Winner {{if xWins 'X won the game' 'O won the game'}}</div>
    <button >Restart</button>
</div>

