<div class="board" {{on "click" this.winner}} {{on "click" this.whichTurn}}>
    <div class="cell {{grid.[1]}}"  {{on "click" (fn this.played 1)}}></div>
    <div class="cell {{grid.[2]}}"  {{on "click" (fn this.played 2)}}></div>
    <div class="cell {{grid.[3]}}"  {{on "click" (fn this.played 3)}}></div>
    <div class="cell {{grid.[4]}}"  {{on "click" (fn this.played 4)}}></div>
    <div class="cell {{grid.[5]}}"  {{on "click" (fn this.played 5)}}></div>
    <div class="cell {{grid.[6]}}"  {{on "click" (fn this.played 6)}}></div>
    <div class="cell {{grid.[7]}}"  {{on "click" (fn this.played 7)}}></div>
    <div class="cell {{grid.[8]}}"  {{on "click" (fn this.played 8)}}></div>
    <div class="cell {{grid.[9]}}"  {{on "click" (fn this.played 9)}}></div>
</div>
<div class="winning-message {{if xWins 'show'}} {{if oWins 'show'}} {{if isDraw 'show'}}" i>
    <div>{{#if isDraw }}
        It's a draw
        {{else if xWins }}
        X won the game
        {{else if oWins}}
        O won the game
        {{/if}}
    </div>
    <button {{on "click" this.restart}}>Restart</button>
</div>